

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h6{
    font-size: 16px;
    color: #404145;;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Style Start */

header{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 25px 0px!important;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-wrapper ul{
    display: flex;
}


.header-wrapper ul li{
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

.header-wrapper ul li .dropdown{
    position: absolute;
    display: block;
    z-index: 999;
    min-width: 365px;
    background: #efefef;
    padding: 8px;
}



.header-wrapper ul li:hover .dropdown{
    display: block;
    transition: 0.3s;
}

.header-wrapper ul li .dropdown{
    display: none;
    transition: 0.3s;
}

.header-wrapper ul li .dropdown li{
    border: 1px solid #cfbfbf;
    margin-bottom: 15px;
}

.header-wrapper ul li .dropdown li a span{
    color: #404145;
    font-weight: 600;
}

.header-wrapper ul li .dropdown li a p{
    color: #62646a;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.header-wrapper ul li a svg{
    padding: 7px 0 0 5px;
}

.header-wrapper ul .join-btn{
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
}


.header-wrapper ul .join-btn:hover{
    background: #1dbf73;
    color: #f5f5f5;

}



.header-wrapper ul li:hover{
    background-color: #f5f5f5;
}

.header-wrapper ul li a{
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}



/* Footer Style Start */
footer{
    background-color: #fff;
    border-top: 1px solid #e4e5e7;
    position: relative;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

.footer-wrapper{
    display: flex;
    padding-bottom: 24px;
    padding-top: 64px;
    justify-content: space-between;
}

.footer-colmun ul li:not(:last-child){
    padding-bottom: 16px;
}

.footer-colmun ul li a{
    color: #74767e;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-colmun ul li a:hover{
    border-bottom: 1px solid #74767e;
}

/* hr{
   border: 1px solid #62646a;
} */

.footer-bottom{
    padding-top: 35px;
}

.bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottom-wrapper .logo svg{
    height: 23px;
    width: 77px;
}

.bottom-wrapper .logo span{
    font-size: 14px;
    color: #b5b6ba;;
    margin-left: 24px;
}

.right{
    display: flex;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right .social li{
    margin-right: 24px;
    color: #62646a;
}

.right .social li{
    padding: 8px 10px;
}

.right .social li:hover {
    background-color: #efeff0;
    border-radius: 50px;
    transition: background-color .2s;
}

.right .social li a:hover{
    border: none;
}

.setting-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-btn li:not(:last-child){
    border-radius: 50px;
    padding: 8px 12px;
}

.setting-btn li:hover:not(:last-child){
    background-color:#efeff0;
}

.setting-btn li a{
    color: #74767e;
    font-weight: 600;
}

.setting-btn li a svg{
    color: #74767e;
}

.setting-btn li a svg:not(:last-child){
    width: 16px;
    height: 16px;
}


/* Hero Style Start */

.hero{
    padding-top: 140px;
    background-color: #561123;
}

.hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content h1{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 24px;
}

.left-content h1 span{
    font-weight: 500;
}

.left-content .search-form{
    display: flex;
    height: 46px;
    width: 661px;
    border-radius: 18px;
    background-color: #fff;
    position: relative;
}

.left-content .search-form input{
    width: 90%;
    height: 100%;
    padding: 0px 12px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
}

.left-content .search-form button{
    width: 11%;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #1dbf73;

}

.populer-tags{
    display: flex;
    padding-top: 24px;
    line-height: 27px;
    font-size: 14px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.populer-tags ul{
    display: flex;
    margin-left: 12px;
}

.populer-tags ul li{
    margin-right: 12px;
    white-space: nowrap;
}

.populer-tags ul li a{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
    padding: 5px 12px 5px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 4;
}

.populer-tags ul li a:hover{
    color: #404145;
    background-color: #fff;
}

.right-content{
    display: flex;
    align-items: end;
}

.bottom-profile{
    right: 0;
    bottom: -50;
    height: 60px;
    display: flex;
    color: #fff;
    grid-gap: 12px;
    align-items: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 1600px;
    -ms-flex-align: center;
    -webkit-box-align: center;
    backdrop-filter: blur(30px);
    -webkit-align-items: center;
    padding: 12px 24px 12px 12px;
    -webkit-backdrop-filter: blur(30px);
    background: hsla(0, 0%, 100%, .14);
    border: 1px solid hsla(0, 0%, 100%, .4);
    box-shadow: 0 20px 30px 0 rgba(0,37,19,.2);
    -webkit-box-shadow: 0 20px 30px 0 rgba(0,37,19,.2);
}


/* Brands Css Start */

.brands{
    background-color: #f5f5f5;
    padding: 15px 0px;
}

.brands-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands-item span{
    color: #b5b6ba;
    font-weight: 600;
    padding-right: 20px;
    padding-bottom: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brands-item li{
    padding-right: 60px;
}

/* Service Style Start */

.services{
    padding: 95px 0px;
}

.service-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title{
    font-size: 32px;
    font-weight: 700;
    color: #404145;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 120%;
    padding-bottom: 24px;
}

.item a:hover{
    background-color: #efeff0;
}

.item a h4 small{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.item a h4{
    color: #fff;
    padding: 16px;
    font-size: 24px;
    position: absolute;
    z-index: 1;
}

.item a img{
    border-radius: 4px;
}

.slide-btn{
    display: flex;
    justify-content: space-between;
}

.slide-btn a{
    align-items: center;
    background-color: #b4b0b0;
    border: 0;
    border-radius: 50%;
    bottom: 0;
    height: 48px;
    text-align: center;
    top: 0;
    width: 48px;
    z-index: 1;
    box-shadow: #404145;
}

.service-wrapper .left, .service-wrapper.right{
    position: absolute;
    background-color: #b4b0b0;
    height: 48px;
    width: 48px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.service-wrapper .left, .service-wrapper.right{
    position: absolute;
    background-color: #b4b0b0;
    height: 48px;
    width: 48px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.slide-btn a i{
    padding: 15px;
    color: #404145;
}

/* Proposition Style Start */

.proposition{
    padding: 130px 0px;
    background-color: #f1fdf7;
}

.proposition-wrappper{
    display: flex;
}

.proposition_left_content ul {
    padding-right: 280px;
}

.proposition_left_content ul li{
    padding-bottom: 24px;
}

.proposition_left_content ul li h6{
    font-size: 18px;
    color: #404145;
    font-weight: 700;
    padding-bottom: 8px;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.proposition_left_content ul li h6 i{
    width: 24px;
    height: 24px;
    fill: #7A7D85;
}

.proposition_left_content ul li p{
    color: #62646a;
    font-size: 18px;
    line-height: 26px;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.play-btn::after{
    background: url(assets/img/brands/google.png) no-repeat;
    background-size: 80px;
    content: "";
    display: inline-block;
    height: 80px;
    left: 50%!important;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    z-index: 0;
}

/* Category Css Start */

.categories{
    padding: 96px 0px;
}

.categories h2.section-title{
    margin-bottom: 40px;
}

.categories-list{
    display: flex;
    flex-wrap: wrap;
}

.categories-list li{
    color: #222325;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 19.33%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 32px;
    text-align: center;
}

.categories-list li img{
    display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}

.categories-list li a{
    color: #222325;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-list li a::after{
    border-bottom: 2px solid #c5c6c9;
    content: "";
    padding: 0 0 8px;
    position: absolute;
    right: 50%;
    top: 45px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    width: 48px;
    transition: 0.3s;
}

.categories-list li a:hover:after{
    padding: 0 20px 8px;
    border-color: #1dbf73;
    transition: 0.3s;
}


/* Fib Style Start */

.fib{
    padding: 96px 0px;
    border-radius: 10px;
    background-color: #0d084d;
}

.fib-wrappper{
    display: flex;
}

.fib-logo svg{
    margin-right: 8px;
}

.fib-wrappper .section-title{
    color: #fff;
    margin-top: 32px;
    font-size: 32px;
    padding-right: 84px;
    padding-bottom: 24px;
}

.fib-content li{
    gap: 12px;
    display: flex;
    text-align: left;
    margin-bottom: 36px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.fib-content li p{
    line-height: 25px;
    margin-top: 7px;
}

.learn-more{
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #62646a;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: 70ms cubic-bezier(.75,0,.25,1);
    transition: 70ms cubic-bezier(.75,0,.25,1);
}

.fib-content-right img{
    width: 420px;
}

/* Testimonial Css Start */

.testimonial{
    padding-top: 80px;
    padding-bottom: 110px;
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-between;
}

.testimonial-right-content{
    max-width: 780px;
    padding: 0 48px 0 64px;
    width: 60%;
}

.testimonial-right-content h5{
    font-size: 20px;
    color: #74767e;
    font-weight: 400;
    padding-bottom: 16px;
}

.testimonial-right-content h5 img{
    border-left: 1px solid #c5c6c9;
    height: 36px;
    margin-left: 16px;
    vertical-align: middle;
}

.testimonial-right-content blockquote{
    color: #003912;
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


